* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header, footer {
    background-color: #395B64;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    display: flex;
    height: 160px;
}

#bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
}

#limiter {
    position:relative;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    line-height: 40px;
    height: 40px;
}

nav ul li a{
    display: block;
    color: #E7F6F2;
    font-weight: 600;
    font-size: 30px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #BDD4E7;
}

@media screen and (min-width: 960px) {
    nav li {
      width: 200px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
    
    nav li {
    display: inline-block;
    }

    
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #395B64;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #395B64;
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 34px;
    font-weight: 700;
    color: #395B64;
    margin: 20px 40px;
}


a {
    text-decoration: none;
}

body {
    background-color: #E7F6F2;
    margin-top: 0;
    margin-bottom: 0;
}

.BookSel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.BookSel img {
    display: block;
    width: 300px;
    height: 450px;
    margin: auto;
}

.BookSel p {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #2C3333;
}

.BookLar {
    display: flex;
    width: calc(100vw - (100vw - 100%));
    flex-flow: row;
    margin: auto;
}

.Book {
    width: 40%;
    padding: 5vh 3vw;
}

.Cat {
    padding: 0 5vw;
    
}

.Book img {
    width: 100%;
}

.SubImage {
    width: 20%;
    padding: 5vh 3vw;
}

.SubImage img {
    width: 100%;
    padding: 1vh;
}

.Center {
    display: flex;
    justify-content: center;
}

.Cart {
    width: 20%;
    padding: 5vh 3vw;

}

.Cart button {
    margin-top: 30px;
    padding: 10px 35px;
    font-size: 30px;
    font-weight: 600;
    color: #2C3333;
    border-radius: 50px;
    display: block;
}

p {
    font-size: 20px;
    margin: 20px 40px;
    margin-bottom: 60px;
}

#breadcrumb {
    margin: auto;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-align: center;
}
  
ul.breadcrumb li {
    display: inline;
    font-size: 30px;
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
  
ul.breadcrumb li a {
    color: #395B64;
    text-decoration: none;
}
  
ul.breadcrumb li a:hover {
    color: #A5C9CA;
    text-decoration: underline;
}

form {
    margin: 3vw;
    padding-left: 2vw;


}

.FormLabel {
    font-size: 22px;
    padding: 5px 0;
}

.FormField ol li {
    font-size: 22px;
    list-style-type: none;
}

.FormField ul li {
    font-size: 22px;
    list-style-type: none;
}

input{
    font-size: 22px;
}

select {
    font-size: 22px;
}

textarea {
    font-size: 22px;
}

